main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        li{
            list-style: none;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}